@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: rgba(34, 34, 34);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    color: white;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#text {
    display: flex;
    /* justify-content: center; */
    align-self: center;
    font-size: 50px;
}

#voltar {
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(68, 68, 68);
    color: white;
}

#voltar:hover {
    opacity: 0.7;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;

    /* margin-left: -800px; */

}

#spoiler {
    font-size: 50px;
    text-align: center;
    font-weight: 400;
    border: 3px solid white;
    padding: 20px;
    border-radius: 20px;
    transition: 0.5s;
    color: white;
}

#spoiler:hover {
    background: white;
    color: rgba(34, 34, 34)
}

#spoiler:hover a {
    color: rgba(34, 34, 34)
}